@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');



@import url('https://assets.gumroad.com/packs/static/19db990205089207b039.woff2');

* {
  cursor: none;
  overflow: hidden;
}

body {
  width : 100vw;
  height: 100vh;


}

main {
  display: flex;
}


#cursor {
  height: 20px;
  width: 20px;

  overflow: hidden;

  background-color: red;
  border-radius: 50%;

  position: absolute;

  top: 0;
  left: 0;
}

.pointThis {
  position:   absolute;
  width: 30px;
  height: 30px;

  background-color: green;
}

#timer {
  margin: 20px;
  font-family: sans-serif;
  background-color: black;
  color: white;

  font-size: 4rem;
}

.tasperdu {
  position: absolute;
  font-size: 8rem;
  margin: 100px;
  font-family: sans-serif;

  background-color: black;
  color: white;
}

.tasgagne {
  position: absolute;
  font-size: 8rem;
  margin: 100px;
  font-family: sans-serif;

  background-color: black;
  color: white;
}
